*{
  box-sizing: border-box;
  margin: 0;
  font-family: Tahoma, sans-serif;
  border-radius: 3px;
}

body{
  /* background-color: sienna; */
  background-image: url("http://www.stevens-wood.com/sites/default/files/swatches/L29-Natural%20Marrone.jpg");
  background-size: cover;
}

.container{
  width: 80vw;
  height: 1000px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  /* padding: 30px; */
  /* background-color: sienna; */
}

.header{
  height: 50%;
  background-color: white;
  margin-bottom: 20px;
  border: 0.5px solid #cecece;
  padding: 20px;
}

.cover{
  height: 100%;
  /* padding: 24px 0; */
  background-image: url('https://source.unsplash.com/category/technology');
  background-size: cover;
  background-position: center;
  position: relative;
}

.title-cover{
  color: black;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  background-color: #cecece;
  padding: 20px;
  opacity: 0.8;
}

.title-cover > h1{
  margin-bottom: 5px;
}

.menu{
  position: relative;
  width: 100%;
  height: 60px;
  background-color: saddlebrown;
  text-align: center;
  border: 0.8px solid #cecece;
}

.menu-nav{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.menu-item{
  float: left;
  color: white;
  width: 20%;
  height: 100%;
  line-height: 60px; /* rivedere le altezze in % con .menu */
}

.menu:after{
  clear: both;
  content: '';
  display: table;
}

.main:after{
  clear: both;
  content: '';
  display: table;
}

.main-section{
  width: 100%;
  height: 400px;
  position: relative;
  margin-top: 20px;
}

.main{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 100%;
}

.main > .main-left, .main > .main-center, .main > .main-right{
  float: left;
  width: 32%;
  height: 100%;
  background-color: white;
  border: 0.5px solid #cecece;
  position: relative;
}

.main > .main-center{
  margin-left: 2%;
  margin-right: 2%;
}

.photo{
  height: 180px;
  background-image: url('https://source.unsplash.com/random');
  background-size: cover;
  background-position: center;
}

.title-photo{
  text-align: center;
  padding: 10px;
  margin-top: 5px;
}

.description-photo{
  text-align: justify;
  padding: 10px;
}

.button{
  text-align: center;
  background-color: dimgrey;
  color: white;
  width: 100%;
  height: 40px;
  position: absolute;
  top: 359px;
  /* margin-bottom: 15px; */
}
